/*Navbar Styling*/
.navbar-brand {
  display: flex;
  align-items: center;
  padding-top: 3em;
  font-weight: 700;
}

.navbar-brand>img {
  display: flex;
  padding: 5px 15px;
  float: left !important;
}

.brand-name {
  display: inline-flex;
}

/*About page styling*/
.about {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
.about-heading {
  color: #ffbb33;
}
.about-description {
  color: white;
}
hr {
  background-color: white; height: 3px; border: 0; }


/*Login Page*/
.login-container {
  padding: 15px 5px;
  border-radius: 3px;
}

/*Sign Up Page*/
.signup-container {
  padding: 15px 5px;
  border-radius: 3px;
}

nav {
  margin-bottom: 1.5em;
}

/*Username*/
.username-title {
  color: white;
}
.username-title:hover {
  color:#ffbb33;
  text-decoration: none;
}

.card-header {
  color:#ffbb33; 
}

.exercise-form-padding {
  padding: 15px;
}
.workout-form-padding {
  padding: 15px;
}
.flex-form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-form>*{
  padding-right: 15px;
}